<section class="hero">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <a class="hero-brand" href="index.html" title="Home"
          ><img class="avatar" alt="Profile Picture" src="assets/linkedin_profile.jpg"
        /></a>
      </div>
    </div>

    <div class="col-md-12">
      <h1>
        A servant leader/Technologist
      </h1>

      <p class="tagline">
        who focuses on driving innovative solutions and passionate about solving
        real world business problems
      </p>
      <a class="btn btn-full" href="#about">Get Started Now</a>
    </div>
  </div>
</section>

<!-- Header -->
<header id="header">
  <div class="container">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#about">Highlights</a></li>
        <li><a href="#guiding">Guiding Principles</a></li>
        <li><a href="#team">30-60-90 Plan</a></li>
        <li><a href="#portfolio">Longer Term</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->

<section class="about" id="about">
  <div class="container text-center">
    <h1>
      Highlights
    </h1>

    <div>
      Designed and implemented the follow-the-sun concept for WWFEOPS. Built
      metrics to monitor the efficiency of the process
    </div>
    <div>
      Architected the AutoPatch API for automated patching and served as the
      backbone of automated deployments
    </div>
    <div>
      Participates in the architecture meeting which helps shape the future of
      FE software
    </div>
    <div>
      Identified the bottleneck of MES migration (manual configuration) and
      volunteered to automate Cfg setup and validation for CH
    </div>
    <div>Strong believer in continuous improvements driven by innovations</div>
    <div>
      Strong desire to provide excellent customer experience by driving a
      99.99% culture
    </div>
    <div>MCS developer and Host automation leads prior to joining Micron</div>
    <div></div>
    <div>
      Inspired by Steve Jobs (user experience), Simon Sinek (servant
      leadership), and Daniel Pink (motivation)
    </div>

    <div class="row stats-row">
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">22 yr</span>
          Semiconductor Automation Exp
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">4</span> MES
          Migrations Participated
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">92%</span> incidents
          resolved by FTS
        </div>
      </div>
    </div>

    <div
      class="row  stats-row"
      style="border-width: 2px; border-color: lightgrey; border-style: solid; margin-top: 60px; margin-bottom: 100px;"
    >
      <div class="row col-12" style="margin-bottom:30px;">
        Team Engagement Survey result
      </div>

      <div class="row" style="width:100%">
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">92%</span>
            Engagement
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">92%</span>
            Meaningfulness
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">85%</span>
            Phychological Safety
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">83%</span>
            Availability
          </div>
        </div>
      </div>

      <div class="row stats-row">
        <div class="col-12" style="color: grey; font-style:italic; ">
          Compare with department results of 75% Engagement, 73% Meanginfulness,
          65% Phychological safety, and 65% Availability
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About -->
<!-- Parallax -->

<div
  class="block bg-primary block-pd-lg block-bg-overlay text-center block-bg-img"
  data-bg-img="assets/parallax-bg.jpg"
  data-settings='{"stellar-background-ratio": 0.7}'
  data-toggle="parallax-bg"
  data-stellar-background-ratio="0.7"
  style="background-image: url('assets/parallax-bg.jpg'); background-position: 0px -53.6px;"
>
  <img
    alt="Guiding Principles"
    class="gadgets-img hidden-md-down"
    src="assets/compass.png"
  />
</div>
<!-- /Parallax -->
<!-- Features -->

<section class="guiding" id="guiding">
  <div class="container">
    <h1 class="text-center">
      Guiding Principles
    </h1>
    <br />

    <div class="row">
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <h3>
              Lean Concept
            </h3>

            <p>
              Eliminate waste as much as possible. Evaluate waste especially in
              processes, software, and notification/alerts. Do not implement
              solutions that is going to be a maintaining nightmare. Take
              actions only when you are ready.
            </p>
          </div>
        </div>
      </div>

      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <h3>
              Understand Changes
            </h3>

            <p>
              People, Process, Technology. People always come first. If you want
              to ensure a successful change, always make sure your people are on
              board. Share your vision and the purpose of the change. Assure
              people following you that changes are not scary and will lead to a
              better future. Understand what you are trying to get to up front
              and fine tune your process based on your data.
            </p>
          </div>
        </div>
      </div>

      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <h3>
              Innovation
            </h3>

            <p>
              Technologies change rapidly. Open yourself to adopt new thinking
              and new way of doing things and focus on the problems your
              customers are facing days in and days out. Fail fast and move on.
              Help your customers understand zero disruption is not a good thing
              and manage their expectations as they are not as tech savvy.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <h3>
              People
            </h3>

            <p>
              Happy people will result in happy customers. Every people is
              different so you need to handle them differently. Don't manage
              your people as if only their outputs matter. Show empathy. Be fair
              and be transparent as much as possible. Spend more time observe
              and listen to their needs. Make them feel safe to talk to you
              about anything. Challenge, trust and encourage them to go out of
              their comfort zone. Remind yourself to praise and celebrate
              successes often. Ensure the right people is in the right job.
            </p>
          </div>
        </div>
      </div>

      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <h3>
              User Experience
            </h3>

            <p>
              Everything should just work. Focus on making things simple and
              responsive. Customer's requirements are important but do not let
              your customers dictate your user interface. Leverage this as an
              opportunity to dazzle your customers.
            </p>
          </div>
        </div>
      </div>

      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <h3>
              Motivation/Retention
            </h3>

            <p>
              The three main components to motivate employees to increase their
              performance and satisfaction are Autonomy (our desire to be self
              directed), Mastery (urge to get better skills), and Purpose
              (desire to do something that has meaning and important).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Features -->

<section class="plan" id="plan">
  <div
    class="block bg-primary block-pd-lg block-bg-overlay text-center block-bg-img"
    data-bg-img="assets/parallax-bg.jpg"
    data-settings='{"stellar-background-ratio": 0.7}'
    data-toggle="parallax-bg"
    data-stellar-background-ratio="0.7"
    style="background-image: url('assets/parallax-bg.jpg'); background-position: 0px -53.6px;"
  >
    <img
      alt="30-60-90 day plan"
      class="gadgets-img hidden-md-down"
      src="assets/gantt-chart.png"
    />
  </div>

  <div class="container">
    <h1 class="text-center">
      30-60-90 Day Plan
    </h1>
    <br />
    <div class="feature-col col-12">
    <div class="card card-block">
      <div>
        <h3>
          30 Days
        </h3>
        <p>
          <strong>Observe and listen.</strong> Meet with my manager to understand the purpose and expectations of the role. Derive a plan to meet with key customers to assess current satisfaction and understand their pain points and demand. 
          Meet with everyone on the team so I can get to know them on a professional and personal level. Perform a self assessment and address any gaps as quickly as possible. 
        </p>
      </div>
    </div>
  </div>
  <div class="feature-col col-12">
      <div class="card card-block">
        <div>
          <h3>
            60 Days
          </h3>
          <p>
            <strong>Participate and Contribute.</strong> Understand the existing documented and undocumented processes and identify gaps. Share ideas on how to make things better.
            Build better relationship with external teams and customers. Benchmark ourselves with industrial metrics. 
            Meet with teams to determine strengths and weaknesses for the change initiatives in the next phase.
          </p>
        </div>
      </div>
  </div>
  <div class="feature-col col-12">
      <div class="card card-block">
        <div>
          <h3>
            90 Days
          </h3>
          <p>
            <strong>Lead and Change</strong> Develop strategic plan and revise with my manager. Share vision and strategies with the team. Spearhead new initiative to address key pain points and inefficiencies. 
          </p>
        </div>
      </div>
  </div>
  </div>
</section>

<!-- Portfolio -->

<section class="portfolio" id="portfolio">
  <div class="container text-center">
    <h2>
      Longer Term Plan
    </h2>

    <p>
      Hover each item below for details
    </p>
  </div>

  <div class="portfolio-grid">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/rockstar2.jpg" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  Hiring/Training
                </h3>

                <p class="card-text">
                  Hire the best and implement yearly learning plan. Roll out WW
                  on boarding process. Support job rotations.
                </p>
              </div>
            </div></a
          >
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/knowledge_sharing.jpg" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  Knowledge Sharing/BKM
                </h3>

                <p class="card-text">
                  Promote better WW sharing and collaboration. Enforce BKM
                </p>
              </div>
            </div></a
          >
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/idea.jpg" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  Innovation
                </h3>

                <p class="card-text">
                  Dedicate resources so they can focus on innovation. Establish
                  a mini innovation lab.
                </p>
              </div>
            </div></a
          >
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/excellence.jpg" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  Center Of Excellence
                </h3>

                <p class="card-text">
                  Group team by service to foster expertise to grow. Expertise enables higher code quality and faster incident resolution
                  which results in better customer experience.
                </p>
              </div>
            </div></a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/sre_uptime.png" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  Site Reliability Engineer
                </h3>

                <!--
                  Responsible for availability, latency, performance, efficiency, change management, monitoring, emergency response, capacity planning via automation.
                -->
                <p class="card-text">
                  Combine QRM, OPS and sys admin to form SRE. 
                  Key difference than OPS is to apply software engineering mindset to system
                  admin topics
                </p>
              </div>
            </div></a
          >
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/benchmark.png" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  Industrial Benchmark
                </h3>

                <p class="card-text">
                  Review monthly how our KPIs compare with the rest of the
                  industry. Automate reporting tasks.
                </p>
              </div>
            </div></a
          >
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/automation.png" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  Full Automation mindset
                </h3>

                <p class="card-text">
                  Increase team awareness on full automation like deployment,
                  monitoring, configuration, and reporting. Do not bring in
                  tools that do not support full automation and avoid manual
                  automation traps.
                </p>
              </div>
            </div></a
          >
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#/portfolio"
            ><img alt="" src="assets/org_chart.png" />
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  New Org
                </h3>

                <p class="card-text">
                  Many of the functions will be overlapped with the introduction of SRE.
                  Consolidate and streamline whenever possible.
                  <!--
                  Since most of the functions are consolidated with the SRE
                  role, the dedicated (network/sys admin) role is no longer
                  required. It will be switched over to steering committee to
                  create BKM instead.
                  -->
                </p>
              </div>
            </div></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Portfolio -->

<!-- @component: footer -->

<a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>
