html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(25, 25, 25);
}

/* Home */

.hero .no-padding{
    background-color: rgb(20, 20, 20);
    
    padding-left: 0;
    padding-right: 0;
  }

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    to right,
    rgb(9, 9, 9) 0%,
    rgb(8, 8, 8) 100%
  );
}

.delay-500 {
    animation-delay: 2s;
}
.heres {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
}

.results{
    
    color: white;
    
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 5s; /* Firefox < 16 */
     -ms-animation: fadein 5s; /* Internet Explorer */
      -o-animation: fadein 5s; /* Opera < 12.1 */
        
         animation: fadein 5s;
}

.special {
    background-image: linear-gradient(to right, pink, rgb(72, 72, 255), white);
}
.avatar {
    transform: scale(0.5);
    float: left;
    position: relative; 
    left: 5px;
    padding: 0;

}
.container{
    position: relative; 
}

.tagline2 {
    background: linear-gradient(to right, rgb(232, 232, 232),  rgb(230, 230, 230) 1.9em 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    margin-top: 40px;
    margin-inline: 80px;
    position:relative;
    font-size: 75px;
    font-weight: 500;

    
}

.specialword{
    float: left;
    margin-top: -25px;
    margin-inline: 80px;
    position:relative;
    font-size: 75px;
    font-weight: 500;
    background: linear-gradient(to right, rgb(231, 231, 231) 0% 1.19em, rgb(185, 102, 237) 1.19em 1.5em, rgb(89, 89, 242) 2em, rgb(194, 187, 255) 4em, rgb(231, 231, 231) 1.9em 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tagline2 {
    background: linear-gradient(to right, rgb(231, 231, 231),  rgb(231, 231, 231) 1.9em 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: right;
    margin-top: -129px;
    margin-inline: 375.5px;
    position:relative;
    font-size: 75px;
    font-weight: 500;

}
.tagline {
    background: linear-gradient(to right, rgb(255, 255, 255),  rgb(255, 255, 255) 1.9em 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    margin-top: 40px;
    margin-inline: 80px;
    position:relative;
    font-size: 75px;
    font-weight: 500;
    
}
.desc{
    
    font-size: 20;
    font-weight: -10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    position: relative;
    float:left;
    background: linear-gradient(to right, rgb(231, 231, 231),  rgb(231, 231, 231) 1.9em 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-inline: 80px;

    overflow: hidden; 
    border-right: .15em solid rgb(255, 255, 255); /* typwriter cursor */
    white-space: nowrap;  
    letter-spacing: .1em; 
    animation: 
      typing 5.5s steps(80, end),
      blink-caret .75s step-end infinite;

}

.center{
    text-align:center;
    margin-top: 50px; 
}

.btn {
    background-color: #5c30cd;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    padding: 15px 45px;
    border-radius: 50px;

    
  }
  
  .btn:hover {
    background-color: #8567d0;
    color: #fff;
  }
  
  .btn:focus:active {
    color: #ffffff;
  }
  



.btn:active{
    color: #ffffff;
}

.container3 {
    position: relative;
    
}

/* 1st Section */

#started {
    height: 800px;
    background-color: rgb(25, 25, 25);
    display:inline-block;
    width: 100%;
}

  

/* typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}